{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employer Login - Kazi Connector</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="login-container">
    <h1>Employer Login</h1>
    {% if messages %}
    {% for message in messages %}
        <p  class="message {{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    <form method="POST" action="/login2">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" required>
         {% if form.username.errors %}
                    <p class="error">{{ form.username.errors.0 }}</p>
         {% endif %}
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
  </form>
    <p class="register-link">Don't have an account? <a href="{%  url 'employer_registration'  %}">Sign up</a></p>
  </div>

  <!-- <script>
    document.getElementById('loginForm').addEventListener('submit', async (e) => {
      e.preventDefault();
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      const response = await fetch('employer_login.php', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, password })
      });

      const data = await response.json();
      if (data.success) {
        window.location.href = 'employer_dashboard.html'; // Redirect to dashboard
      } else {
        alert(data.message); // Show error message
      }
    });
  </script> -->
</body>
</html>